* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.content {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

h5 {
  font-size: 23.25px;
  font-weight: 700;
  color: #fff;
}

.btn {
  color: #fff;
  background-color: #b61984;
  font-size: 13.5px;
  padding: 11px 15px;
  border-radius: 50px;
  margin: 6px;
  transition: all 0.5s;
  font-weight: 500;
  border: 1px solid #b61984;
  position: relative;
  z-index: 10;
}
.btn span,
.btn i {
  position: relative;
}
.btn::before {
  content: "";
  background-color: #fff;
  color: #b61984;
  transform: scale(0.8, 0);
  position: absolute;
  font-size: 13.5px;
  border-radius: 50px;
  margin: 6px;
  transition: all 0.3s ease;
  font-weight: 500;
  border: 1px solid #b61984;
  left: -8px;
  top: -16%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}
.btn:hover {
  color: #b61984;
}
.btn:hover::before {
  transform: scale(1);
}

#header.scrollbar {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  height: 50px;
}
#header.scrollbar .barClick {
  display: flex;
  justify-content: flex-start !important;
  flex-direction: row;
}
#header.scrollbar .img-header img {
  display: none;
}

.scrollbar .btn {
  margin: 6px;
  padding: 7px 10px;
}
.scrollbar .btn::before {
  top: -7px;
}

.barClick {
  padding-left: 300px;
}
.barClick .item1 {
  transform: translateY(9px) rotate(45deg);
}
.barClick .item2 {
  display: none !important;
}
.barClick .item3 {
  transform: translateY(-9px) rotate(135deg);
}
.barClick a:hover {
  color: #b61984;
}
.barClick a:hover .item1 {
  transform: translateY(9px) rotate(45deg) !important;
}
.barClick a:hover .item3 {
  transform: translateY(-9px) rotate(135deg) !important;
}

.barClick + .container {
  width: 300px !important;
}

@keyframes fadeOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
@media screen and (max-width: 1199px) {
  #header {
    background-color: #fff;
  }
}
#header .bar {
  height: 100%;
  display: none;
}
#header .bar img {
  width: 48px;
}
#header .bar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header .bar a:hover .item1 {
  transform: translateY(-3px);
}
#header .bar a:hover .item3 {
  transform: translateY(3px);
}
#header .bar a:hover .item {
  background-color: #b61984;
}
#header .bar .item {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: #000;
  margin-right: 10.5px;
  transition: all 0.5s;
}
@media screen and (max-width: 1199px) {
  #header .bar {
    display: flex;
    position: relative;
    z-index: 999;
    margin: 0px 20px;
  }
}
#header .container {
  display: flex;
  padding: 0;
  position: relative;
  z-index: 9;
}
#header .container .img-header img {
  width: 80px;
}
#header .container .nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}
#header .container .nav ul li {
  font-size: 13px;
  list-style: none;
  padding-right: 50px;
}
#header .container .nav ul li a {
  text-decoration: none;
  color: #181818;
  font-weight: 600;
  display: inline-block;
}
#header .container .nav ul li:hover a {
  color: #b61984;
}
#header .container .wrapper-btn {
  display: flex;
  align-items: center;
}
#header .container .wrapper-btn .icon {
  display: flex;
  align-items: center;
}
#header .container .wrapper-btn .btn-contact i {
  padding-right: 6.75px;
  display: inline-block;
  transform: rotate(-90deg);
  vertical-align: top;
  font-size: 13px;
}
#header .container .wrapper-btn i {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
#header .container .wrapper-btn i:hover {
  color: #b61984;
}
@media screen and (max-width: 1199px) {
  #header .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: #fff;
    align-items: center;
    float: left;
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 9;
  }
  #header .container .wrapper-nav,
#header .container ul,
#header .container .wrapper-btn {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
  }
  #header .container nav {
    align-items: center;
    justify-content: center;
  }
  #header .container nav ul {
    text-align: center;
  }
  #header .container nav ul li {
    padding: 0 0 20px 0 !important;
  }
  #header .container .wrapper-btn {
    align-self: start;
  }
  #header .container .wrapper-btn .icon {
    margin: 10px 0 20px 0;
  }
}

.carousel {
  padding-bottom: 60px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}
.carousel::before {
  content: "";
  background: url(../img/yellow_top_wave_01.png) no-repeat;
  background-size: 87.5rem;
  position: absolute;
  top: 0;
  left: -50px;
  height: 50%;
  width: 100%;
}
.carousel .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}
.carousel .container .row .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2.5;
}
.carousel .container .row .left p {
  margin-bottom: 8.25px;
  font-size: 16.5px;
  font-weight: 600;
  color: #b61984;
}
.carousel .container .row .left .title {
  font-size: 57px;
  font-weight: 700;
  color: #181818;
}
.carousel .container .row .right {
  margin-top: 80px;
  margin-left: -35px;
  position: relative;
  z-index: 5;
}
.carousel .container .row .right img {
  max-width: 36.25rem;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 991px) {
  .carousel .left {
    margin: 80px 20px;
  }
  .carousel .left .title {
    font-size: 2.953rem !important;
  }
  .carousel .left p {
    font-size: 15px !important;
  }
  .carousel .right img {
    margin-left: 50px;
  }
}
@media screen and (max-width: 991px) and (max-width: 539px) {
  .carousel .right img {
    width: 26.688rem;
  }
}

.background {
  background-color: #dcd1f3;
  padding-top: 4.375rem;
  position: relative;
  z-index: 2;
  height: 780px;
}
@media screen and (max-width: 992px) {
  .background .container .row {
    gap: 0 !important;
  }
  .background .container .row .content {
    font-size: 14px;
  }
}
.background::before {
  content: "";
  background: url(../img/Violet_top_left_wave.png) no-repeat;
  background-position: bottom;
  background-size: 100%;
  position: absolute;
  top: -380px;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 99;
}
.background::after {
  content: "";
  background-image: url(../img/Wave_White_bottom_right_shape_01.png);
  background-repeat: no-repeat;
  background-size: 85rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47%;
  z-index: 0;
  background-position: bottom;
}
.background .container {
  position: relative;
  z-index: 3;
}
.background .container .row {
  gap: 40px 0;
}
.background .container .row .col-lg-3 {
  padding: 0 20px;
  position: relative;
}
.background .container .row .col-lg-3 .item1 {
  animation: fadeOn 0.5s;
}
.background .container .row .col-lg-3 .item2 {
  animation: fadeOn 1s;
}
.background .container .row .col-lg-3 .item3 {
  animation: fadeOn 1.5s;
}
.background .container .row .col-lg-3 .item4 {
  animation: fadeOn 2s;
}
.background .container .row .col-lg-3 .card {
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
  border: none;
}
.background .container .row .col-lg-3 .card:hover {
  box-shadow: 0px 4px 20px -7px rgba(0, 0, 0, 0.4);
}
.background .container .row .col-lg-3 .card .img {
  overflow: hidden;
}
.background .container .row .col-lg-3 .card img {
  border-radius: 10px 10px 0 0;
  transition: all 1s;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
}
.background .container .row .col-lg-3 .card img:hover {
  transform: scale(1.05);
  overflow: hidden;
}
.background .container .row .col-lg-3 .card .card-body {
  flex: 1;
  text-align: center;
}
.background .container .row .col-lg-3 .card .card-body .title {
  font-size: 11.25px;
  font-weight: 600;
  color: #b61984;
  margin-bottom: 7.875px;
}
.background .container .row .col-lg-3 .card .card-body .name {
  font-size: 23.25px;
  font-weight: 700;
  color: #191919;
}

.form {
  padding: 60px 0 0px;
  margin-bottom: 30px;
  position: relative;
}
.form .container {
  max-width: 1040px;
}
.form .container .row .col-lg-7 {
  position: relative;
  z-index: 12;
}
.form .container .row .col-lg-7 img {
  width: 526px;
  position: relative;
}
.form .container .row .col-lg-5 {
  position: relative;
  z-index: 20;
}
.form .container .row .col-lg-5 #form {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px 25px 20px;
  border: 1px solid transparent;
  font-size: 13px;
  position: relative;
  z-index: 3;
  border-radius: 10px;
}
.form .container .row .col-lg-5 #form .title {
  font-size: 37.5px;
  font-weight: 700;
  color: #191919;
  line-height: 1.25;
  padding: 30px 0;
}
.form .container .row .col-lg-5 #form [name=input] {
  padding: 20px 12px 20px 42px;
  border-radius: 50px;
  font-size: 13px;
}
.form .container .row .col-lg-5 #form .form-control:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.form .container .row .col-lg-5 #form i {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: #d67eba;
}
.form .container .row .col-lg-5 #form .select {
  position: relative;
}
.form .container .row .col-lg-5 #form .select .language {
  font-size: 13px;
  border-radius: 50px;
  padding: 20px 30px 20px 33px;
}
.form .container .row .col-lg-5 #form .select #i-select {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.form .container .row .col-lg-5 #form .textarea {
  border-radius: 20px;
}
.form .container .row .col-lg-5 #form .i-area {
  position: relative;
  top: 40px;
  left: 16px;
}
.form .container .row .col-lg-5 #form .btn {
  margin: 30px 0 50px;
  padding: 11px 40px;
}
.form .container .row .col-lg-5 #form .btn:hover {
  color: #b61984;
  position: relative;
  z-index: 20;
}
@media screen and (max-width: 991px) {
  .form {
    margin-top: 930px !important;
  }
  .form .left img {
    width: 36.25rem !important;
  }
  .form .right .title {
    font-size: 1.875rem !important;
  }
  .form .right .btn {
    padding: 11px 55px !important;
  }
}

.footer {
  background-image: url(../img/footer_background.jpg);
  background-repeat: no-repeat;
  padding: 100px 0 110px;
  font-family: "Roboto", sans-serif;
  font-size: 13.5px;
  color: #fff;
  text-align: left;
  background-position: left bottom;
  background-position: -170px bottom;
  background-size: 105.625rem;
  position: relative;
  background-color: #aa017e;
  z-index: 2;
}
.footer::before {
  content: "";
  background-image: url(../img/accent_bottom_wave_01.png);
  background-repeat: no-repeat;
  background-size: 85rem;
  background-position: left top;
  top: -335px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .container .row {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}
.footer .container .row .col-lg-3:first-child {
  padding-left: 0;
}
.footer .container .row .col-lg-3:last-child {
  padding-right: 8px;
}
.footer .container .row .col-lg-3 {
  padding: 0 40px;
}
.footer .container .row .col-lg-3 .item1 {
  animation: fadeOn 0.5s;
}
.footer .container .row .col-lg-3 .item2 {
  animation: fadeOn 1s;
}
.footer .container .row .col-lg-3 .item3 {
  animation: fadeOn 1.5s;
}
.footer .container .row .col-lg-3 .item4 {
  animation: fadeOn 2s;
}
.footer .container .row .col-lg-3 h5 {
  margin-bottom: 30px;
}
.footer .container .row .col-lg-3 .text {
  margin-left: 0.8rem;
  font-size: 13.5px;
}
.footer .container .row .col-lg-3 p {
  margin-bottom: 10px;
}
.footer .container .row .col-lg-3 p:last-child {
  margin-top: 30px;
}
.footer .container .row .col-lg-3 i {
  font-size: 15px;
}
.footer .container .row .col-lg-3 .icon a {
  color: #fff;
}
.footer .container .row .col-lg-3 .icon i {
  margin-right: 15px;
}
.footer .container .row .col-lg-3 .icon i:hover {
  color: #000;
}
.footer .container .row .col-lg-3 ul li {
  list-style: none;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 20px;
  padding-bottom: 10px;
}
.footer .container .row .col-lg-3 ul li a {
  color: #fff;
  text-decoration: none;
}
.footer .container .row .col-lg-3 ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.footer .container .row .col-lg-3 .right {
  margin-top: 40px;
}
.footer .container .row .col-lg-3 .right .form-fill {
  position: relative;
}
.footer .container .row .col-lg-3 .right .form-fill label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 8;
}
.footer .container .row .col-lg-3 .right .form-fill input {
  padding: 25px 0 25px 125px;
  border-radius: 50px;
  background-color: #aa017e;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  position: relative;
}
.footer .container .row .col-lg-3 .right .form-fill input:focus {
  border: 1px solid #fff;
  outline: none;
  box-shadow: none;
}
.footer .container .row .col-lg-3 .right .btn {
  width: 100%;
  background-color: #fff;
  color: #181818;
  font-weight: 600;
  padding: 15px 0;
  margin: 6px 0;
}
.footer .container .row .col-lg-3 .right .btn::before {
  background-color: #b61984;
}
.footer .container .row .col-lg-3 .right .btn:hover {
  color: #fff;
}
.footer .container .row .col-lg-3 .right .btn:hover::before {
  border: 1px solid #fff;
}
@media screen and (max-width: 1199px) {
  .footer {
    font-size: 12.6px !important;
  }
  .footer .item1 {
    padding: 0 40px !important;
  }
  .footer ul li {
    width: 75px !important;
  }
  .footer li, .footer a, .footer p {
    font-size: 12.6px !important;
  }
}